.App{
  height: 100vh;
  padding-top: 10px;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.contador-logo-contenedor{
  width: 100%;
  height: 50x;
  margin: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contador-logo{
  height: 250px;
}

.contenedor-calculadora{
  width: 400px;
  height: 600px;
  padding: 14px;
  background-color: bisque;
  border-radius: 20px;
  border: 5px solid white;
}

.fila{
  margin: 4px;
  display: flex;
  align-items: center;
}